#countdown{
  div{
    text-align: center;
    display: inline-block;
    font-family: "ingra", Arial;
    margin: 20px;
    .days, .hours, .minutes, .seconds{
      font-size: 50px;
    }
    .days, .days, .hours, .minutes, .seconds, .smalltext{
      display: block;
    }
    .smalltext{
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 450px){
  #countdown{
    div{
      display: block;
    }
  }
}