#team{
  text-align: left;
  background-color: #1f1f1f;
  background-image: url('../../images/shape_back.png');
  background-repeat: repeat;
  .team-container{
    padding: 5% 5%;
    &__header{
      h2{
        font-weight: 500;
        font-size: 60px;
        letter-spacing:4px;
        color: white;
        text-transform: uppercase;
      }
      h3{
        font-weight: 300;
        padding-bottom: 50px;
        letter-spacing: 2px;
        color: white;
        text-align: justify;
      }
      hr{
        border: none;
        height: 2px;
        background-color: white;
        margin: 15px 0px 25px 0px;

      }
    }
  }
  .team-grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .team-member{
      width: 27%;
      text-align: center;
      background-color: white;
      margin: 20px;
      height: 350px;
      &__picture{
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 60%;
      }
      &__text{
        height: 40%;
        vertical-align: middle;
        line-height: inherit;
        text-align: center;
        h3{
          padding-bottom: 5px;
          color: black;
          text-align: center;
          font-weight: 500;
        }
        h5{
          margin: 0px;
          //padding: 0px 0px 30px 0px;
          font-weight: 300;
          font-size: 18px;
          width: 90%;
          margin: auto;
        }
        &__content{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  #team-slit-bottom{
    width: 100%;
    height: 103px;
    background-color: #1f1f1f;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 66%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 66%);
  }
}

/*Team Images*/
#team-tom {
  background-image: url("../../images/team/tom.jpg"); }

#team-helena {
  background-image: url("../../images/team/helena.jpg"); }

#team-liam {
  background-image: url("../../images/team/liam.jpg"); }

#team-cat {
  background-image: url("../../images/team/cat.jpg"); }

#team-hugh {
  background-image: url("../../images/team/hugh.jpg"); }

@media screen and (min-width: 1700px){
  #team{
    .team-grid-container{
      .team-grid{
        height: 550px;
      }
      .team-member{
        &__picture{
          height: 70%;
        }
        &__text{
          height: 30%;
        }
      }
    }
  }
}

@media screen and (min-width: 1450px){
  #team{
    .team-grid-container{
      .team-grid{
        height: 420px;
      }
    }
  }
}


@media screen and (max-width: 980px){
  #team{
    .team-grid-container{
      .team-member{
        height: 400px;
        width: 43%;
      }
    }
  }
}


@media screen and (max-width: 715px){
  .team-grid{
    max-height: 450px;
    height: 450px;
  }
  #team{
    .team-grid-container{
      .team-member{
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 500px){
  #team{
    .team-grid-container{
      .team-member{
        //height: 400px;
        width: 90%;
      }
    }
  }
}
